[submodule "deeplearningbook-chinese"]
	path = deeplearningbook-chinese
	url = https://github.com/exacity/deeplearningbook-chinese.git
[submodule "awesome-kotlin"]
	path = awesome-kotlin
	url = https://github.com/KotlinBy/awesome-kotlin.git
[submodule "ResumeSample"]
	path = ResumeSample
	url = https://github.com/geekcompany/ResumeSample.git
[submodule "ITArticles"]
	path = ITArticles
	url = https://github.com/qiwsir/ITArticles.git
