[submodule "deeplearningbook-chinese"]
	path = deeplearningbook-chinese
	url = https://github.com/exacity/deeplearningbook-chinese.git
[submodule "awesome-kotlin"]
	path = awesome-kotlin
	url = https://github.com/KotlinBy/awesome-kotlin.git
[submodule "ResumeSample"]
	path = ResumeSample
	url = https://github.com/geekcompany/ResumeSample.git
[submodule "ITArticles"]
	path = ITArticles
	url = https://github.com/qiwsir/ITArticles.git
[submodule "awesome-linux-software-cn"]
	path = awesome-linux-software-cn
	url = https://github.com/ChrisLeeGit/awesome-linux-software-cn.git
[submodule "Best-App"]
	path = Best-App
	url = https://github.com/hzlzh/Best-App.git
[submodule "free-programming-books-zh_CN"]
	path = free-programming-books-zh_CN
	url = https://github.com/justjavac/free-programming-books-zh_CN.git
[submodule "The-Art-Of-Programming-By-July"]
	path = The-Art-Of-Programming-By-July
	url = https://github.com/julycoding/The-Art-Of-Programming-By-July.git
[submodule "be-a-professional-programmer"]
	path = be-a-professional-programmer
	url = https://github.com/stanzhai/be-a-professional-programmer.git
[submodule "TimLiu-Python"]
	path = TimLiu-Python
	url = https://github.com/Tim9Liu9/TimLiu-Python.git
[submodule "awesome-python"]
	path = awesome-python
	url = https://github.com/vinta/awesome-python.git
[submodule "free-programming-books"]
	path = free-programming-books
	url = https://github.com/EbookFoundation/free-programming-books.git
[submodule "500lines"]
	path = 500lines
	url = https://github.com/aosabook/500lines.git
